h2{
  text-align: center;
  padding: 10px 5px;
  color: blue;
  font-family: sans-serif;
  font-size: 35px;
}
table{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 77%;
  border-collapse: collapse;
}
th,td{
  border: 2px solid #555;
  padding: 10px;

}
th{
  background-color: #4CAF50;
  color: white;
}
th:hover,td:hover{
  background:blue
}
.HTML{
  background-color: #50cee4;
}
.CSS{
  background-color: #dec2c2;
}
.Ec{
  background-color: #ade1ea;
}
.CSC205{
  background-color: #adeac3;
}
.DeptMeeting{
  background-color: #dcd8e0;
}
